
<html>
<head>
	<title>The Notes Gallery by Tab_Al</title>
	
	<meta name="viewport" 
		content="width=device-width, initial-scale=1.0">
	
	<link href="/css/bootstrap.min.css" 
		rel="stylesheet" 
    	integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
    	crossorigin="anonymous">
	
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
		rel="stylesheet">

	<link href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" 
		rel="stylesheet" 
		integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" 
		crossorigin="anonymous">

	<link href="/css/footer.css" rel="stylesheet">
	
	<script src="/js/bootstrap.min.js">
	</script>
	
</head>

<body style="background-color:#20c997;">
	<% include ./header.ejs %>
	
	<img class="img-fluid" src="/images/extra/iphone_banner.jpg" alt="Chania">

	<% include ./navbar.ejs %>

	<div class="container rounded" style="background-color: #000">
		<div class="row justify-content-center">
			<div class="col-md-3">
				<h5 class="rounded font-weight-normal mt-4 mb-4 pt-2 pb-2 text-center bg-dark text-white">Recently Updated Notes</h5>
			</div>
		</div>
		<div class="container">
			<div class="card-deck">
		  		<div class="card">
		    		<div class="card-body">
		    			<img
		    				class="card-img-top text-center"
		    				src="/images/lap/L01.jpg">
		    			<h4 class="card-title">Pushdown Automata</h4>
		      			<p class="card-text">
		      				<strong>Sub : </strong>Automata Theory<br>
		      				<strong>Added On : </strong> 12/03/18
		      				<strong>Added By : </strong> admin<br>
		      				<div class="text-center">
			      				<div class="btn-group">
	                  				<button 
	                  					type="button" 
	                  					class="btn btn-sm btn-primary">
	                  					View This Item
	                  				</button>
	                  				<button 
	                  					type="button" 
	                  					class="btn btn-sm btn-info">
	                  					View Related
	                  				</button>
	                			</div>
	                		</div>
		      			</p>
		    		</div>
		  		</div>
		  		<div class="card">
		    		<div class="card-body">
		    			<img
		    				class="card-img-top text-center"
		    				src="/images/lap/L01.jpg">
		    			<h4 class="card-title">Pushdown Automata</h4>
		      			<p class="card-text">
		      				<strong>Sub : </strong>Automata Theory<br>
		      				<strong>Added On : </strong> 12/03/18
		      				<strong>Added By : </strong> admin<br>
		      				<div class="text-center">
			      				<div class="btn-group">
	                  				<button 
	                  					type="button" 
	                  					class="btn btn-sm btn-primary">
	                  					View This Item
	                  				</button>
	                  				<button 
	                  					type="button" 
	                  					class="btn btn-sm btn-info">
	                  					View Related
	                  				</button>
	                			</div>
	                		</div>
		      			</p>
		    		</div>
		  		</div>
		  		<div class="card">
		    		<div class="card-body">
		    			<img
		    				class="card-img-top text-center"
		    				src="/images/lap/L01.jpg">
		    			<h4 class="card-title">Pushdown Automata</h4>
		      			<p class="card-text">
		      				<strong>Sub : </strong>Automata Theory<br>
		      				<strong>Added On : </strong> 12/03/18
		      				<strong>Added By : </strong> admin<br>
		      				<div class="text-center">
			      				<div class="btn-group">
	                  				<button 
	                  					type="button" 
	                  					class="btn btn-sm btn-primary">
	                  					View This Item
	                  				</button>
	                  				<button 
	                  					type="button" 
	                  					class="btn btn-sm btn-info">
	                  					View Related
	                  				</button>
	                			</div>
	                		</div>
		      			</p>
		    		</div>
		  		</div>
		  		<div class="card">
		    		<div class="card-body">
		    			<img
		    				class="card-img-top text-center"
		    				src="/images/lap/L01.jpg">
		    			<h4 class="card-title">Pushdown Automata</h4>
		      			<p class="card-text">
		      				<strong>Sub : </strong>Automata Theory<br>
		      				<strong>Added On : </strong> 12/03/18
		      				<strong>Added By : </strong> admin<br>
		      				<div class="text-center">
			      				<div class="btn-group">
	                  				<button 
	                  					type="button" 
	                  					class="btn btn-sm btn-primary">
	                  					View This Item
	                  				</button>
	                  				<button 
	                  					type="button" 
	                  					class="btn btn-sm btn-info">
	                  					View Related
	                  				</button>
	                			</div>
	                		</div>
		      			</p>
		    		</div>
		  		</div>
			</div>	
		</div>
		<br>
	</div>
	<br>
	<div class="container rounded" style="background-color: #000">
		<div class="row justify-content-center">
			<div class="col-md-3">
				<h5 class="rounded font-weight-normal mt-4 mb-4 pt-2 pb-2 text-center bg-dark text-white">Most Downloaded Notes</h5>
			</div>
		</div>
		<div class="container">
			<div class="card-deck">
		  		<div class="card">
		    		<div class="card-body">
		    			<img
		    				class="card-img-top text-center"
		    				src="/images/lap/L01.jpg">
		    			<h4 class="card-title">Pushdown Automata</h4>
		      			<p class="card-text">
		      				<strong>Sub : </strong>Automata Theory<br>
		      				<strong>Added On : </strong> 12/03/18
		      				<strong>Added By : </strong> admin<br>
		      				<div class="text-center">
			      				<div class="btn-group">
	                  				<button 
	                  					type="button" 
	                  					class="btn btn-sm btn-primary">
	                  					View This Item
	                  				</button>
	                  				<button 
	                  					type="button" 
	                  					class="btn btn-sm btn-info">
	                  					View Related
	                  				</button>
	                			</div>
	                		</div>
		      			</p>
		    		</div>
		  		</div>
		  		<div class="card">
		    		<div class="card-body">
		    			<img
		    				class="card-img-top text-center"
		    				src="/images/lap/L01.jpg">
		    			<h4 class="card-title">Pushdown Automata</h4>
		      			<p class="card-text">
		      				<strong>Sub : </strong>Automata Theory<br>
		      				<strong>Added On : </strong> 12/03/18
		      				<strong>Added By : </strong> admin<br>
		      				<div class="text-center">
			      				<div class="btn-group">
	                  				<button 
	                  					type="button" 
	                  					class="btn btn-sm btn-primary">
	                  					View This Item
	                  				</button>
	                  				<button 
	                  					type="button" 
	                  					class="btn btn-sm btn-info">
	                  					View Related
	                  				</button>
	                			</div>
	                		</div>
		      			</p>
		    		</div>
		  		</div>
		  		<div class="card">
		    		<div class="card-body">
		    			<img
		    				class="card-img-top text-center"
		    				src="/images/lap/L01.jpg">
		    			<h4 class="card-title">Pushdown Automata</h4>
		      			<p class="card-text">
		      				<strong>Sub : </strong>Automata Theory<br>
		      				<strong>Added On : </strong> 12/03/18
		      				<strong>Added By : </strong> admin<br>
		      				<div class="text-center">
			      				<div class="btn-group">
	                  				<button 
	                  					type="button" 
	                  					class="btn btn-sm btn-primary">
	                  					View This Item
	                  				</button>
	                  				<button 
	                  					type="button" 
	                  					class="btn btn-sm btn-info">
	                  					View Related
	                  				</button>
	                			</div>
	                		</div>
		      			</p>
		    		</div>
		  		</div>
		  		<div class="card">
		    		<div class="card-body">
		    			<img
		    				class="card-img-top text-center"
		    				src="/images/lap/L01.jpg">
		    			<h4 class="card-title">Pushdown Automata</h4>
		      			<p class="card-text">
		      				<strong>Sub : </strong>Automata Theory<br>
		      				<strong>Added On : </strong> 12/03/18
		      				<strong>Added By : </strong> admin<br>
		      				<div class="text-center">
			      				<div class="btn-group">
	                  				<button 
	                  					type="button" 
	                  					class="btn btn-sm btn-primary">
	                  					View This Item
	                  				</button>
	                  				<button 
	                  					type="button" 
	                  					class="btn btn-sm btn-info">
	                  					View Related
	                  				</button>
	                			</div>
	                		</div>
		      			</p>
		    		</div>
		  		</div>
			</div>	
		</div>
		<br>
	</div>
	<br><br>
	<% include ./footer.ejs %>
</body>
</html>
