
<style>
	.x {
    display:table;
    width:100%;
    margin: 0;
}
.x > li {
    float:none;
    display:table-cell;
    text-align:center;
}
.card-img-top {
	height: 150px;
}


</style>

<div class="container">
<nav class="navbar navbar-light"
	style="background-color: #fff">

		<ul class="navbar-nav mr-auto flex-row x">
			<li class="nav-item">
				<a
					href="/physics"
					class="nav-link">
					<strong>Architecture</strong>
				</a>
			</li>

			<li class="nav-item">
				<a
					href="/Chemistry"
					class="nav-link">
					<strong>Operating System</strong>
				</a>
			</li>

			<li class="nav-item">
				<a
					href="/DBMS"
					class="nav-link">
					<strong>DBMS</strong>
				</a>
			</li>

			<li class="nav-item">
				<a
					href="/DBMS"
					class="nav-link">
					<strong>Automata Theory</strong>
				</a>
			</li>
			
			<li class="nav-item">
				<a
					href="/DBMS"
					class="nav-link">
					<strong>Networks</strong>
				</a>
			</li>
</nav>
</div>
<br>
