<html>
<head>
	<title>Contact Us</title>
	<link rel="stylesheet" href="/css/contactus.css">
	<link rel="stylesheet" href="/css/welcomepage.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body background="/images/bkg/red.jpg" style="margin-left: 60px; margin-right: 60px; margin-top: 30px;">

<div style="background-color: #FFF056; color: #191919; text-align: center;">
  <h2>Order Confirmed (product will reach you in 2-3 working days)</h2>
  <a href="/"><h3>SHOP MORE</h3></a>
  <a href="/contactus"><h3>CONTACT US</h3></a>
