<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

<a href="/adminpanell"><button class="btn btn-lg btn-primary btn-block">LAPTOP</button></a>
<a href="/adminpanelm"><button class="btn btn-lg btn-primary btn-block">MOBILE</button></a>
<a href="/adminpanele"><button class="btn btn-lg btn-primary btn-block">EARPHONE</button></a>
<a href="/adminpanelt"><button class="btn btn-lg bt
n-primary btn-block">TV</button></a>
