<!DOCTYPE html>
<html>
    <head>
        <title>
            TV
        </title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    </head>
    <body>
<div class="container">
    <div class="row">
            <h1 style="text-align: center">NEW TV</h1>
            <div style="width:30%; margin:25px auto;">
            <form action="/tv" method="post">
                <div class="form-group">
                    <input class="form-control" type="text" name="image" placeholder="image">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="model_no" placeholder="model_no">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="price" placeholder="price">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="brand" placeholder="Brand">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="type" placeholder="Type">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="display_size" placeholder="Display_Size">
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">Submit!</button>
                </div>

            </form>
            <a href="/adminpanel">GO BACK</a>
        </div>
    </div>
</div>

</body>
</html>
